@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap");
:root {
  --primary: rgb(255, 255, 192);
  --secondary: #4d4e53;
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  background-color: var(--primary);
  font-family: "Poppins", sans-serif;
}

.sidebar {
  position: fixed;
  margin-top: 6rem;
  height: 100%;
  width: 25rem;
  background-color: rgba(255, 217, 0, 0.95);
  transform: translateX(-100%);
  border-radius: 1rem;
  z-index: 3;
}

.show {
  animation: show 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.hide {
  animation: hide 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

@keyframes show {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes hide {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 1rem;
  font-size: 1.5em;
  transition: 0.3s;
}

.sidebar li:hover {
  background-color: grey;
  color: white;
  border-radius: 0.8rem;
}

.sidebar a {
  color: black;
  text-decoration: none;
}

.hamburger {
  cursor: pointer;
  margin: 0.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 217, 0, 0.95);
  padding: 0.3rem;
  border-radius: 0.5rem;
  z-index: 3;
}

.bar {
  width: 2.5rem;
  height: 0.3rem;
  background-color: black;
  margin: 0.4rem 0;
  transition: 0.8s ease;
}

.change .bar:nth-child(2) {
  opacity: 0;
}

.change .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-0.5rem, 0.6rem);
}

.change .bar:nth-child(3) {
  transform: rotate(45deg) translate(-0.5rem, -0.6rem);
}

.content {
  margin: 3rem 2.5rem;
  padding: 1.5rem;
  text-align: left;
  width: 100%;
  z-index: 1;
}

.content .proj-title {
  margin: 0;
  text-align: center;
}

.section-content {
  margin: 0.5rem 0;
}

.div {
  margin: 1em 0;
  border: 0.2em solid var(--secondary);
}

ol,
ul {
  padding-left: 1em;
}

pre {
  margin: 0;
}

code {
  border-radius: 1em;
}

.dim {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(66, 66, 66, 0.4);
  width: 100%;
  height: 100vh;
  z-index: 2;
  display: none;
}

@media (max-width: 320px) {
  .proj-title {
    font-size: 2.2rem;
  }

  .section-title {
    font-size: 2em;
  }

  .section-heading {
    font-size: 1.7em;
  }

  .section-content,
  code {
    font-size: 1.2em;
  }
}

@media (max-width: 375px) {
  .proj-title {
    font-size: 2.2rem;
  }

  .section-title {
    font-size: 2em;
  }

  .section-heading {
    font-size: 1.7em;
  }

  .section-content,
  code {
    font-size: 1.2em;
  }
}

@media (max-width: 425px) {
  .proj-title {
    font-size: 2.3rem;
  }

  .section-title {
    font-size: 2.05em;
  }

  .section-heading {
    font-size: 1.75em;
  }

  .section-content,
  code {
    font-size: 1.25em;
  }
}

@media (min-width: 426px) and (max-width: 767px) {
  .proj-title {
    font-size: 2.8rem;
  }

  .section-title {
    font-size: 2.35em;
  }

  .section-heading {
    font-size: 1.85em;
  }

  .section-content,
  code {
    font-size: 1.5em;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .proj-title {
    font-size: 3.5rem;
  }

  .section-title {
    font-size: 2.6em;
  }

  .section-heading {
    font-size: 2.4em;
  }

  .section-content,
  code {
    font-size: 1.9em;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .proj-title {
    font-size: 3.8rem;
  }

  .section-title {
    font-size: 2.8em;
  }

  .section-heading {
    font-size: 2.6em;
  }

  .section-content,
  code {
    font-size: 2.1em;
  }

  .sidebar li {
    font-size: 2em;
  }
}

@media (min-width: 1440px) {
  .proj-title {
    font-size: 4.5rem;
  }

  .section-title {
    font-size: 3.5em;
  }

  .section-heading {
    font-size: 3em;
  }

  .section-content,
  code {
    font-size: 2.5em;
  }

  .sidebar li {
    font-size: 2.5em;
  }
}
